.bnt, input[type="submit"] {
	background: url("../resources/img/fundoBotao.gif") repeat-x scroll 0 0
	#2A2A2A;
	border: 1px solid #272727;
	text-shadow: 1px 1px 0 #000000;
	-moz-border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px;
	margin-top: 13px;
	width: 75px;
}
.blocoImgLogin{

	width: 70px;
	border-radius: 11px;
}

.blocoLogin{

	border: groove;
	width: 60%;
	display: table-cell;
	margin-top: 63px;
}

.container{
	text-align: -webkit-center;
}
.blocoFormAuxPosiion{
	width: 20%px;
}
.blocoFormInput{
	text-align: -webkit-left;
	margin-left: 15%;
	margin-right: 15%;
}
.campoInput{
	text-align: -webkit-left;
	width: 100%;
}

.b1ocoAux{
	width: 20%;
	display: table-cell;
}

.botao-2{
    top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%,50%);
    width: 100px;
    height: 40px;
    background: #d5d628;	
	border-radius: 7px;
	border: none;
}

.titulo-login{
    color: #797575;
    font-size: 20px;
    position: relative;
    left: 25%;
    transform: translate(-50%, 50%)
}

.cadastre{
	width: 100%;
	height: 40px;
    position: relative;
    float: left;
    top: 38%;
    left: 78%;
    transform: translate(-50%, -50%);
}


.cadastre-se{
	color: black;
	text-decoration:none;
}

.titulo-cadastro{
    color: #797575;
    font-size: 20px;
    position: relative;
    left: 21%;
    transform: translate(-50%, 50%)
}

.google-botao{
	top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%,50%);
    width: 100px;
    height: 40px;
    background: red;	
	border-radius: 7px;
	border: none;

}

.logo-report{
	color: white;
    left: 55%;
    position: relative;
    transform: translate(-50%, -50%);
}